@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&family=Source+Sans+Pro:wght@700&display=swap');

html,
body,
h1,
h2,
h3,
h4 {
    font-family: 'Sintony', sans-serif;
}

body{
    background-color: #FCFCFC;
    word-wrap: break-word;
}

/* NavBar */

.nav_bar {
    position: fixed;
    right: 0;
    left: 0;
    height: 60px;
    top: 0;
    z-index: 1;
    background-color: #F1F1F1;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif
}

.nav_bar_element {
    float: left;
    height: 100%;
}

.nav_bar_left {
    width: 25%;
    display: flex;
    flex-direction: row;
    font-size: 28px;
}

.nav_bar_center {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.nav_bar_center a {
    margin: auto
}

.nav_bar_right {
    width: calc(25% - 15px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
}

.nav_bar_right span {
    height: 50px;
    padding: 14px 14px
}

.button {
    padding: 8px 16px;
    text-decoration: none;
}

.nav_bar_mobile {
    position: fixed;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1F1F1;
    display: none
}

.nav_bar_mobile a {
    font-size: 17px;
    text-align: left;
    float: left;
    margin-left: .5%
}

@media screen and (max-width: 800px) {
    .nav_bar_left {
        width: 70%;
    }
    .nav_bar_center {
        display: none;
    }
    .nav_bar_right {
        display: none;
    }
    #hamburger_icon {
        float: right;
        display: block;
        justify-content: center;
        padding: 12px 16px;
    }
  }

  @media screen and (min-width: 801px) {
    .nav_bar_mobile {
        display: none;
    }
    #hamburger_icon {
        display: none;
    }
  }

.content {
    width: 1000px;
    max-width: 90%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

/* Profile */

.header-container {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
}

.header-text {
    font-size:36px
}

.row {
    width: 90%;
    height: 100%;
    margin: auto;
    content: "";
    display: table;
    clear: both;
}

.column {
    padding: 10px;
    float: left;
}

.picture {
    width: 40%;
}

.propic {
    width: 100%;
    max-width: 300px;
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.info {
    width: 60%;
}

@media screen and (max-width: 600px) {
    .picture, .info {
        width: 100%;
    }
}

.info h1 {
    font-size: 20px
}

.info h2 {
    font-size: 18px;
    font-weight: bold;
}

.info span {
    font-weight: 500;
}

.info a {
    font-weight: 500;
}

/* Experience */

.experience {
    padding-bottom: 32px;
    width: 100%;
}

.experience-title-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.company-pic {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.experience-title {
    font-size: 26px;
}

.experience-title span {
    font-weight: 700;
}

.experience-date {
    font-size: 18px;
}

.experience-info-container {
    margin-left: 24px;
}

.experience-info {
    font-size: 18px;
}

.image {
    width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contact */

.contact-container {
    text-align: center;
}

.footer {
    background-color: #F1F1F1;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}